.footer{
padding:70px 8% 30px;
background:#020617;
}

.footer-top{
display:grid;
grid-template-columns:2fr 1fr 1fr 1fr;
gap:40px;
}

.footer-brand h2{
color:white;
font-size:34px;
margin-bottom:15px;
}

.footer-brand span{
color:#38bdf8;
}

.footer-brand p{
color:#94a3b8;
line-height:1.8;
}

.footer-links h3,
.footer-social h3{
color:white;
margin-bottom:20px;
}

.footer-links{
display:flex;
flex-direction:column;
}

.footer-links a{
color:#94a3b8;
text-decoration:none;
margin-bottom:12px;
transition:.3s;
}

.footer-links a:hover{
color:#38bdf8;
}

.social-icons{
display:flex;
gap:15px;
}

.social-icons a{
width:45px;
height:45px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
background:#1e293b;
color:white;
font-size:20px;
transition:.3s;
text-decoration:none;
}

.social-icons a:hover{
background:#2563eb;
transform:translateY(-5px);
}

.footer hr{
margin:45px 0 20px;
border:none;
height:1px;
background:#334155;
}

.copyright{
text-align:center;
color:#94a3b8;
}

@media(max-width:900px){

.footer-top{
grid-template-columns:1fr;
text-align:center;
}

.social-icons{
justify-content:center;
}

}